/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: 100%;
}

#wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  margin: -9px;
  padding-bottom: 10px;
  text-indent: 20px;
  height: 40px;
}

button {
  margin-top: 11px;
  margin-right: 20px;
  border-radius: 5px;
  border-color: white;
  font-size: 12px;
  height: 30px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin: 45px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Roboto', sans-serif;
  height: 260px;
  width: 330px;
  margin: 10px;
  background-color: white;
  opacity: 0.9;
}

h3 {
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 40px;
}

li {
  font-size: 13px;
  margin-bottom: 10px;
  margin-left: 10px;
}

ul {
  margin-bottom: 5px;
}

.lets-cook {
  background-color: #0fb9b1;
  width: 140px;
  margin-top: 0px;
  margin-left: 25px;
  font-size: 10px;
}

.pot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
  width: 100px;
}
