body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: 100%;
  margin: 0px;
}

#wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #0fb9b1;
  font-family: 'Roboto', sans-serif;
  margin: -9px;
  padding-bottom: 10px;
  text-indent: 20px;
  height: 40px;
}

h4 {
  margin-top: 20px;
}

button {
  margin-top: 15px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  height: 28px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin: 45px;
}

.star {
  color: #ee5253;
  font-size: 13px;
}

.box {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 260px;
  width: 340px;
  margin: 10px;
  background-color: rgba(225, 225, 225, .9);
  opacity: 0.9;
  position: relative;
}

h3 {
  display: flex;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-top: 40px;
}

.options {
  font-size: 13px;
}

li {
  list-style-type: none;
  padding: 5px;
}

ul {
  margin-left: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

#entire-meal {
  padding-bottom: 0px;
}

.lets-cook {
  background-color: #0fb9b1;
  width: 140px;
  margin-top: 0px;
  margin-left: 25px;
  font-size: 10px;
  height: 25px;
}

.clear {
  height: 25px;
  width: 50px;
  margin-bottom: 15px;
  background-color: #95a5a6;
  color: white;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.pot {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
}

.recipe {
  margin: auto;
}

h5 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.meal {
  font-size: 22px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

.hidden {
  display: none;
}

#footer {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(225, 225, 225, .9);
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding-bottom: 10px;
  text-indent: 20px;
  height: 50px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.recipe-footer {
  font-size: 13px;
  margin-top: 21px;
}

#input-field1 {
  height: 30px;
  width: 170px;
  margin-top: 13px;
  margin-left: 10px;
}

#input-field2 {
  height: 30px;
  width: 170px;
  margin-top: 13px;
  margin-left: 10px;
}

.add-new {
  background-color: #0fb9b1;
  margin-left: 20px;
}
